/* COLOR PALETTE: https://coolors.co/264653-2a9d8f-e9c46a-f4a261-e76f51 */

* {
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    background: #264653;
    color: #E9C46A;
}

.container {
    width: 50%;
    margin: auto;
    text-align: center;
}

.drink-info ul li{
    list-style-type: none;
    text-align: center;
}

#drinkLabel {
    color: #E76F51;
    font-weight: 700;
}

#drink-diagram {
    display: none;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
    border: 2px solid white;
    width: 50px;
    height: 80px;
}

.milk {
    background-color: red;
    height: 60px;
}

.espresso {
    background-color: brown;
    height: 16px;
}
